/* General styles */
.product-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Left section - Filters */
.filter-section {
  width: 20%;
  /* Add your styles for dropdowns */
}

/* Middle section - Product Image */
.product-image-section {
  width: 30%;
}

.product-image {
  max-width: 100%;
  height: auto;
}

/* Right section - Product Details */
.product-details-section {
  width: 40%;
  padding-left: 20px;
  position: relative; /* Move the position property here */
}

.product-details-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.flavor-buttons {
  margin-bottom: 15px;
}

.flavor-button {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #eee;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Include border-color in the transition */
}

.flavor-button:hover {
  background-color: #ddd;
  border-color:  #65a8d6; /* Change border color on hover */
}

.flavor-button.unavailable {
  opacity: 0.5; 
  cursor: not-allowed;
}

.flavor-button.selected {
  background-color: #65a8d6;
  color: white;
}

.buttons-section {
    width: 40%;
  padding-left: 20px;
  position: relative; /* Move the position property here */
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  transform: skew(-20deg); /* Add skew transformation */
  display: inline-block;
}

.add-to-cart-button:hover {
  background-color: #ddd;
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px; /* Adjust as needed */
}

.description-button {
  display: flex;
  align-items: center;
}

.toggle-description {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.description-content {
  display: none;
  transition: max-height 0.3s ease-out;
  margin-top: 10px; /* Adjust as needed */
  width: 100%; /* Take full width */
}

.description-content.active {
  display: block;
  max-height: 200px; /* Set the max-height for the dropdown */
}
